<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Portfolio</title>
    <!-- <link rel="stylesheet" href="../css/reset.css"> -->
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <div id="page-wrapper">

        <header id="page-header">
            <h1>Take a look</h1>
               
           
            <nav id="main-nav" title="main-nav">
            <ul class="nav-menu">
                    <li class="nav-item"><a href="../views/index.html"  class="nav-link">Home</a></li>
                    <li class="nav-item"><a href="../views/index.html#contact"  class="nav-link">Contact me</a></li>
                </ul>
            </nav>
        </header>
        <section id="intro" class="page-section">
            <div class="inner">
                <h2 class="section-title">
                    <span>Movies'Time</span>
                </h2>
                <div class="section-content">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cum suscipit quaerat distinctio tenetur facilis eum consequuntur sapiente ab.</p>
                    <p class="text-up">Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
                   
                    <a href="#" class="action-button action-button-demo"><i class="fab fa-youtube"></i></a>
                </div>
                <div class="actions">
                   
                    <a href="../views/html.php#contact" class="action-button action-button-line">Contact me</a>
                    <a href="../views/project1.html" class="action-button action-button-line">back to M'book</a>
                </div>
            </div>
        </section>
        </div>

        <script src="https://kit.fontawesome.com/45e38e596f.js" crossorigin="anonymous"></script>

    </body>
    </html>
